/**
Using * which is a universal selector this means "select every HTML element".
*/
* {
    box-sizing: border-box;
}

/**
This will select the <body> element from the HTML, removes the default spacing, and uses the Arial, sans-serif font.
*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

header img {
    width: 800px;
}

/**
Centers all the department and employee names. 
*/
main {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

/**
Adding Line and Paragraph spacing between department
*/
section {
    margin-bottom: 30px;
}

/**
Adding extra space between department and employee name list.
*/
h2 {
    margin-bottom: 30px;
}

/**
Adding spacing between employee names. 
*/
li {
    margin-bottom: 5px;
}